<style>
        /* *구글 웹폰트 적용 */
        *{
            font-family: 'Nanum Pen Script', cursive;
        }
        .wrap {
            margin: 100px auto;
            width: 300px;
        }

        .mytitle {
            background-image: url(http://3.bp.blogspot.com/-ZIvbsbvH5B0/TscQ3kMfF7I/AAAAAAAADHs/mtV3U3zMmZU/s320/001.JPG);
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 200px;
            text-align :center;
            padding: 15px;
            padding-top: 60px;
            color: white;
            border-radius: 10px;
            

        }
    </style> 